In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("Travel.csv")
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [5]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [6]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [7]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [8]:
df['Gender']=df['Gender'].replace('Fe Male','Female')
df['MaritalStatus']=df['MaritalStatus'].replace('Single','Unmarried')

In [9]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [10]:
##check missing values
##these are the features with nan values
features_with_na=[features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5), '% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [11]:
df[features_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [12]:
#age
df.Age.fillna(df.Age.median(),inplace=True)

#TypeofContact
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)

#DurationofPitch
df.	DurationOfPitch.fillna(df.	DurationOfPitch.median(),inplace=True)

#NumberofFollowups
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)

#PreferredPropertyStar
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)

#NumberofTrips
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)

#NumberofChildrenVisiting
df.NumberOfChildrenVisiting	.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)

#MonthlyIncome
df.MonthlyIncome.fillna(df.MonthlyIncome.median(),inplace=True)

In [13]:
df.head()
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [14]:
df.drop('CustomerID',inplace=True,axis=1)

In [15]:
##feature enginering
df['TotalVisiting']=df['NumberOfPersonVisiting']+ df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting','NumberOfChildrenVisiting'])

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,Manager,26576.0,4.0
4884,1,28.0,Company Invited,1,31.0,Salaried,Male,5.0,Basic,3.0,Unmarried,3.0,1,3,1,Executive,21212.0,6.0
4885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4.0,Standard,4.0,Married,7.0,0,1,1,Senior Manager,31820.0,7.0
4886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,4.0,Basic,3.0,Unmarried,3.0,0,5,0,Executive,20289.0,5.0
4887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4.0,Basic,4.0,Unmarried,3.0,1,3,1,Executive,24041.0,6.0

In [16]:
##get all the numeric features
num_features=[features for features in df.columns if df[features].dtype!='O']
print('Num of Numerical Features:' ,len(num_features))

Num of Numerical Features: 14

In [17]:
##get all the numeric features
cat_features=[features for features in df.columns if df[features].dtype=='O']
print('Num of Categorical Features:' ,len(cat_features))

Num of Categorical Features: 6

In [18]:
##discrete feautres
discrete_feautres=[features for features in num_features if len(df[features].unique())<=25]
print('Num of Discrete features:',len(discrete_feautres))

Num of Discrete features: 11

In [19]:
##continous feautres
continous_feautres=[features for features in num_features if features not in discrete_feautres]
print('Num of continous features:',len(continous_feautres))

Num of continous features: 3

In [20]:
##train test split and model training
from sklearn.model_selection import train_test_split
X=df.drop(['ProdTaken'],axis=1)
y=df['ProdTaken']

In [21]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [22]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,2.0

In [23]:
##train test splits
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=25)
X_train.shape,X_test.shape

((3910, 19), (978, 19))

In [24]:
X.info

<bound method DataFrame.info of        Age    TypeofContact  CityTier  DurationOfPitch      Occupation  \
0     41.0     Self Enquiry         3              6.0        Salaried
1     49.0  Company Invited         1             14.0        Salaried
2     37.0     Self Enquiry         1              8.0     Free Lancer
3     33.0  Company Invited         1              9.0        Salaried
4     36.0     Self Enquiry         1              8.0  Small Business
...    ...              ...       ...              ...             ...
4883  49.0     Self Enquiry         3              9.0  Small Business
4884  28.0  Company Invited         1             31.0        Salaried
4885  52.0     Self Enquiry         3             17.0        Salaried
4886  19.0     Self Enquiry         3             16.0  Small Business
4887  36.0     Self Enquiry         1             14.0        Salaried

      Gender  NumberOfPersonVisiting  NumberOfFollowups ProductPitched  \
0     Female                       3                3.0         Deluxe
1       Male                       3                4.0         Deluxe
2       Male                       3                4.0          Basic
3     Female                       2                3.0          Basic
4       Male                       2                3.0          Basic
...      ...                     ...                ...            ...
4883    Male                       3                5.0         Deluxe
4884    Male                       4                5.0          Basic
4885  Female                       4                4.0       Standard
4886    Male                       3                4.0          Basic
4887    Male                       4                4.0          Basic

      PreferredPropertyStar MaritalStatus  NumberOfTrips  Passport  \
0                       3.0     Unmarried            1.0         1
1                       4.0      Divorced            2.0         0
2                       3.0     Unmarried            7.0         1
3                       3.0      Divorced            2.0         1
4                       4.0      Divorced            1.0         0
...                     ...           ...            ...       ...
4883                    4.0     Unmarried            2.0         1
4884                    3.0     Unmarried            3.0         1
4885                    4.0       Married            7.0         0
4886                    3.0     Unmarried            3.0         0
4887                    4.0     Unmarried            3.0         1

      PitchSatisfactionScore  OwnCar  NumberOfChildrenVisiting  \
0                          2       1                       0.0
1                          3       1                       2.0
2                          3       0                       0.0
3                          5       1                       1.0
4                          5       1                       0.0
...                      ...     ...                       ...
4883                       1       1                       1.0
4884                       3       1                       2.0
4885                       1       1                       3.0
4886                       5       0                       2.0
4887                       3       1                       2.0

         Designation  MonthlyIncome  TotalVisiting
0            Manager        20993.0            3.0
1            Manager        20130.0            5.0
2          Executive        17090.0            3.0
3          Executive        17909.0            3.0
4          Executive        18468.0            2.0
...              ...            ...            ...
4883         Manager        26576.0            4.0
4884       Executive        21212.0            6.0
4885  Senior Manager        31820.0            7.0
4886       Executive        20289.0            5.0
4887       Executive        24041.0            6.0

[4888 rows x 19 columns]>

In [25]:
## create column tranformer with 3 types of tranformers
cat_feautres=X.select_dtypes(include='object').columns
num_feautres=X.select_dtypes(exclude='object').columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')

preprocessor=ColumnTransformer(
    [
    ('OneHotEncoder',oh_transformer,cat_feautres),
    ('StandardScaler',numeric_transformer,num_feautres)
    ]
)

In [26]:
X_train=preprocessor.fit_transform(X_train)

In [27]:
##apply transformation on test(transform)
X_test=preprocessor.fit_transform(X_test)

In [28]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.120220,1.277246,1.793029,1.563027,1.540649,1.401827,0.782117,0.939605,-0.484776,0.628958
1,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.120220,0.276438,1.793029,-0.681143,-0.649077,-0.069226,0.782117,0.939605,0.107340,0.628958
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.506831,1.277246,-0.721134,2.124069,-0.649077,1.401827,-1.278582,-0.228553,-0.190605,0.628958
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.120220,-2.725986,-0.721134,-0.681143,-0.649077,-1.540279,-1.278582,-1.396710,-0.233060,-0.782768
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.120220,1.277246,-0.721134,-0.120100,-0.649077,-0.069226,-1.278582,-0.228553,0.066583,-0.076905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.120220,-0.724370,0.535947,1.001984,-0.649077,-0.069226,0.782117,-0.228553,-0.620256,-0.076905
3906,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.120220,-0.724370,-0.721134,-1.242185,-0.649077,-0.069226,0.782117,-0.228553,-0.695167,-0.076905
3907,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.120220,0.276438,1.793029,1.001984,-0.649077,-0.804753,0.782117,0.939605,-0.431187,0.628958
3908,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.120220,-0.724370,-0.721134,0.440942,1.540649,0.666301,0.782117,0.939605,1.017213,0.628958
3909,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.266391,-0.724370,0.535947,-0.681143,1.540649,-0.069226,-1.278582,-0.228553,-1.151802,-0.782768

In [ ]:
##random forest classifier

In [51]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.treimport DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,precision_score,recall_score,f1_score,roc_auc_score

In [52]:
models={
    "Decision Tree":DecisionTreeClassifier(),
    "Random Forest":RandomForestClassifier() 
}
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)#train model

    ##make predictions
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)
    
    ##training set performance
    model_train_accuracy=accuracy_score(y_train,y_train_pred)
    model_train_f1=f1_score(y_train,y_train_pred,average='weighted')
    model_train_precision=precision_score(y_train,y_train_pred)
    model_train_recall=recall_score(y_train,y_train_pred)
    model_train_roc_auc_score=roc_auc_score(y_train,y_train_pred)

     ##training set performance
    model_test_accuracy=accuracy_score(y_test,y_test_pred)
    model_test_f1=f1_score(y_test,y_test_pred,average='weighted')
    model_test_precision=precision_score(y_test,y_test_pred)
    model_test_recall=recall_score(y_test,y_test_pred)
    model_test_roc_auc_score=roc_auc_score(y_test,y_test_pred)

    print(list(models.keys()))

    print("Model performance for training set")
    print("-Accuracy {:.4f}".format(model_train_accuracy))
    print("-Precision  {:.4f}".format(model_train_f1) )
    print("-recall socre {:.4f}".format(model_train_recall) )
    print("-roc auc score {:.4f}".format(model_train_roc_auc_score) )

    print("Model performance for testing set")
    print("-Accuracy {:.4f}".format(model_test_accuracy))
    print("-Precision  {:.4f}".format(model_test_f1) )
    print("-recall socre {:.4f}".format(model_test_recall) )
    print("-roc auc score {:.4f}".format(model_test_roc_auc_score) )

['Decision Tree', 'Random Forest']
Model performance for training set
-Accuracy 1.0000
-Precision  1.0000
-recall socre 1.0000
-roc auc score 1.0000
Model performance for testing set
-Accuracy 0.9049
-Precision  0.9071
-recall socre 0.8023
-roc auc score 0.8649
['Decision Tree', 'Random Forest']
Model performance for training set
-Accuracy 1.0000
-Precision  1.0000
-recall socre 1.0000
-roc auc score 1.0000
Model performance for testing set
-Accuracy 0.9294
-Precision  0.9234
-recall socre 0.6328
-roc auc score 0.8139

In [53]:
rf_params={"max_depth":[5,8,15,None,10],
           "max_feautres":[5,7,'auto',8],
           "min_samples":[2,8,15,20],
           "n_estimators":[100,200,500,1000]
}

In [55]:
randomcv_models=[
    ("RF",RandomForestClassifier(),rf_params),
]

In [56]:
rf_params

{'max_depth': [5, 8, 15, None, 10],
 'max_feautres': [5, 7, 'auto', 8],
 'min_samples': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500, 1000]}

In [60]:
from sklearn.model_selection import RandomizedSearchCV
model_param={}
for name,model,params in randomcv_models:
    random=RandomizedSearchCV(estimator=model,param_distributions=params,
                               n_iter=100,
                               cv=3,
                               verbose=2,
                              n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name]=random.best_params_

for model_name in model_param:
    print(f"------Best params for {model_name}-----")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

ValueError: Invalid parameter 'min_samples' for estimator RandomForestClassifier(n_estimators=1000). Valid parameters are: ['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'monotonic_cst', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'].